@import "mixins.scss";
@import "presets.scss";

@media screen and (min-width: 490px) {
  .section.head {
    .title {
      @include flex-row;
      padding: 0 40px 0 34px;
      justify-content: flex-start;
      align-items: center;
    }
    .logo-title {
      flex-direction: row;
      align-items: center;
    }
    .logo {
      flex: 0 1 auto;
      width: 120px;
      height: auto;
    }
    h2 {
      padding: 37px 0 0;
      margin: 0 0 0 20px;
      font-size: 20px;
    }
    .nav-bar-icons {
      margin: 0 0 0 10px;
    }
    #code-lang-skills {
      font-size: 20px;
      padding: 0 0 0 5px;
    }
    #code-lang-skills:hover {
      font-size: 21px;
    }
  }

  #contact {
    display: flex;
  }

  #skills-paragraph {
    display: block;
  }

  .container {
    .paragraph {
      margin: 0 0 30px;
    }
    .contact-page-link {
      display: none;
    }
  }

  // Contacts page specifics
  #contact-page {
    .contacts {
      span {
        margin: 0 0 35px;
        font-size: 18px;
      }
    }
  }
}

@media screen and (min-width: 550px) {
  #navigation {
    justify-content: flex-start;
    li {
      margin: 0 55px 0 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .section.head {
    .title {
      padding: 0 80px 0 74px;
    }
  }

  #navigation {
    padding: 3px 75px;
    li {
      font-size: 16px;
    }
  }

  .container {
    .paragraph {
      padding: 0 0 0 80px;
      margin: 0 0 40px;
      h1 {
        display: flex;
        margin: 0 0 50px;
      }
    }
    .head-shot {
      img {
        width: 150px;
        height: 150px;
      }
    }
  }

  // Contact page specific

  #contact-page {
    .container {
      @include flex-column;
      flex: 1 0 auto;
      justify-content: flex-start;
    }
    h1 {
      padding: 0 80px;
      margin: 0 0 45px;
    }
    .contacts {
      padding: 0 80px;
    }
  }

  // Skills page specifics
  #skills-page {
    .paragraph {
      padding: 0 80px;
    }
  }

  // Portfolio page specifics
  #portfolio {
    .paragraph {
      padding: 0 80px;
    }
    .container {
      @include flex-column;
      flex: 1 0 auto;
      justify-content: flex-start;
    }
    h1 {
      padding: 0 80px;
      margin: 0 0 45px;
    }
  }
}

@media screen and (min-width: 900px) {
  .section.head {
    .title {
      height: 180px;
      //justify-content: center;
    }
    .logo {
      width: 150px;
    }
    h2 {
      font-size: 25px;
      margin: 0 0 0 25px;
      padding: 47px 0 0;
    }
    .nav-bar-icons {
      margin: 0 0 0 290px;
      font-size: 12px;
    }
    #code-lang-skills {
      padding: 0 0 0 10px;
      font-size: 50px;
    }
    #code-lang-skills:hover {
      font-size: 50.5px;
    }
  }

  .container.home-container {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    .phrases {
      margin: 0 0 0 150px;
      padding: 0 80px;
      justify-content: flex-end;
      align-self: inherit;
      h1 {
        width: 450px;
      }
      .large-text {
        font-size: 50px;
      }
      .small-text {
        font-size: 30px;
      }
    }
    .photo-home-nav {
      margin: 50px 0 0 330px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      img {
        border-radius: 100px;
        height: 50px;
        width: 50px;
        margin: 0 10px 0 0;
      }
      p {
        height: auto;
        width: 200px;
        font-size: 12px;
      }
      .learn-more-link-large {
        font-weight: bold;
        color: $purpleText;
      }
    }
    .learn-more-link {
      width: 0px;
      display: none;
    }
  }

  #navigation {
    li {
      margin: 0 75px 0 0;
    }
  }

  // Contact page specifics

  #contact-page {
    @include flex-column;
    flex: 1 0 auto;
    .container {
      padding: 80px 0 0;
    }
    h1 {
      margin: 0 0 60px;
    }
    .contacts {
      @include flex-row;
      padding: 0 80px;
      span {
        margin: 0 0 30px;
        font-size: 15px;
      }
    }
  }
}

@media screen and (min-width: 1080px) {
  .section.head {
    .title {
      padding: 0 120px 0 114px;
    }
  }

  #navigation {
    padding: 3px 115px;
  }

  .container {
    .paragraph {
      padding: 0 0 0 120px;
    }
    .row-content {
      padding: 0 120px;
    }
  }

  .container.home-container {
    .phrases {
      margin: 0 0 0 190px;
    }
    .photo-home-nav {
      margin: 50px 0 0 370px;
    }
  }

  // Contact page specifics
  #contact-page {
    h1 {
      padding: 0 120px;
      margin: 0 0 60px;
    }
    .contacts {
      padding: 0 120px;
    }
  }

  // Skills page specifics
  #skills-page {
    .paragraph {
      padding: 0 120px;
    }
  }

  // Portfolio page specifics
  #portfolio {
    .paragraph {
      padding: 0 120px;
    }
    h1 {
      padding: 0 120px;
      margin: 0 0 60px;
    }
  }
}
