@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 auto;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 40px;
}

@mixin game-pages {
  height: 99vh;
  width: 99vw;
  background: #010922;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: silver ridge 5px;
}
