@import "mixins.scss";
@import "presets.scss";

.wrapper {
  @include flex-column;
  justify-content: flex-start;
  min-height: 100vh;
  min-width: 320px;
}

.section.head {
  @include flex-column;
  .title {
    @include flex-row;
    background: $marineBack;
    background-image: url("../components/img/grey-jean.png");
    height: 133px;
    padding: 0 0 0 34px;
  }
  .logo-title {
    @include flex-column;
  }
  .heading {
    @include flex-row;
    align-items: baseline;
    margin: 0;
    padding: 0;
  }
  .nav-bar-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 8px;
    color: black;
    margin: 0 0 0 10px;
  }
  #code-lang-skills {
    @include flex-row;
    color: black;
    padding: 0 0 0 5px;
    font-weight: 100;
    font-size: 18px;
  }
  #code-lang-skills:hover {
    background: transparentize(blue, 0.9);
    cursor: pointer;
    color: $purpleText;
    font-size: 19px;
    transition: font-size 0.3s;
    transition: color 0.3s;
  }
  .logo {
    width: 90px;
    height: auto;
    margin: 0 0 10px 0;
  }
  h2 {
    color: $purpleText;
    margin: 0 0 0 66px;
  }
}

#contact-link {
  display: none;
}

.nav-bar {
  background: $purpleBack;
  height: 40px;
  .nav-list {
    @include flex-row;
    height: 40px;
    padding: 3px 35px 0;
    align-items: center;
    .nav-item {
      color: white;
      @include flex-column;
      justify-content: center;
      height: 30px;
      padding: 0 5px;
      border-bottom: solid 4px transparent;
      &.current {
        font-weight: 700;
        border-bottom: solid 4px $purpleText;
      }
    }

    .nav-item:hover {
      color: $purpleText;
      font-weight: bold;
    }
  }
}

#skills-paragraph {
  display: none;
}

.section.body-content {
  @include flex-column;
  flex: 1 0 auto;
}

.container {
  @include flex-column;
  flex: 1 0 auto;
  justify-content: flex-start;
  background: white;
  padding: 45px 0 0 0;
  .phrases {
    margin: 0 0 30px;
    padding: 0 40px;
    display: flex;
    align-self: center;
    height: 80px;
    .large-text {
      margin: 30px 0 0;
      text-align: center;
      font-size: 35px;
    }
    .small-text {
      margin: 30px 0 0;
      font-size: 20px;
      text-align: center;
    }
  }
  .row-content {
    @include flex-row;
    align-items: center;
    margin: 0 0 30px;
  }
  .paragraph {
    padding: 0 40px;
    margin: 0 0 20px;
    p {
      margin: 0 0 10px 0;
    }
  }
  .head-shot {
    align-self: center;
    margin: 0 0 40px;
    img {
      height: 120px;
      width: 120px;
      margin: 0;
      border: solid 1px $greyPurple;
      border-radius: 100px;
    }
  }
  .learn-more-link {
    align-self: center;
    color: #555;
    font-weight: bold;
  }
}

.footer {
  background: #e2e2e2;
  width: 100%;
  .footer-list {
    @include flex-row;
    padding: 10px 40px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    .footer-item {
      margin: 0 10px 3px;
      font-size: 12px;
      letter-spacing: 0.05em;
    }
    .footer-item:hover {
      color: $greyPurple;
      font-weight: bold;
    }
  }
}

// Contacts page specifics

#contact-page {
  h1 {
    padding: 0 40px;
    margin: 0 0 45px;
  }
  .contacts {
    @include flex-column;
    padding: 0 40px;
    span {
      margin: 0 0 30px;
      font-size: 15px;
      i {
        color: $purpleText;
        font-size: 25px;
      }
      i:hover {
        color: #444;
      }
      a {
        color: #555;
      }
      a:hover {
        color: #444;
      }
    }
  }
}

// Skills page specifics

#skills-page {
  .language {
    padding: 0;
  }
  h1 {
    display: flex;
    margin: 0 0 30px;
  }
}

//Portfolio page specifics

#portfolio {
  .game-link {
    color: red;
  }
  a {
    color: red;
  }
  .language {
    padding: 0;
  }
  h1 {
    display: flex;
    padding: 0 40px;
    margin: 0 0 30px;
  }
}
